*.class
*.apk
*.dex
*.cache
*.ap_
*.war
ExpositionsProjects/CompuMovilSQLiteExample/bin/
ClassProject/CompuMovilYambaGrupo11/bin/
FinalProject/AndroidApplication/AhorcaToothCompuMovil/bin/
FinalProject/WebApplication/AhorcaToothWebApplication/build/
