<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.udea.compumovil.grupo11.example1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" >
    </uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.dashboard.DashboardMainActivity"
            android:label="@string/application_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.list.PersonExpandableListActivity"
            android:label="@string/person_exampdable_list_activity_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.person.create.PersonCreatorActivity"
            android:label="@string/person_creator_activity_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.person.find.PersonDocumentTypeFinderActivity"
            android:label="@string/person_document_type_activity_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.person.find.PersonHeightRangeFinderActivity"
            android:label="@string/person_height_range_finder_activity_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.about.AboutUsActivity"
            android:label="@string/about_us_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.person.retrieve.PersonRetrieverActivity"
            android:label="@string/person_retriever_activity_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.person.delete.PersonDeleterActivity"
            android:label="@string/person_deleter_activity_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>