<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
                  http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd" >
    <persistence-unit name="AhorcaToothWebApplicationPU" transaction-type="JTA">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <jta-data-source>jdbc/ahorcatooth</jta-data-source>
        <class>co.edu.udea.compumovil.ahorcatooth.model.pojo.Category</class>
        <class>co.edu.udea.compumovil.ahorcatooth.model.pojo.HangmanWord</class>
        <class>co.edu.udea.compumovil.ahorcatooth.model.pojo.Languages</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.dialect"
                      value="org.hibernate.dialect.MySQLDialect" />
            <property name="hibernate.show_sql"
                      value="true" />
            <property name="hibernate.archive.autodetection"
                      value="class" />
            <property name="hibernate.transaction.jta.platform"
                      value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform" />
            <property name="javax.persistence.jdbc.url"
                      value="jdbc:mysql://localhost:3306/AhorcaTooth" />
            <property name="javax.persistence.jdbc.password"
                      value="230491" />
            <property name="javax.persistence.jdbc.driver"
                      value="com.mysql.jdbc.Driver" />
            <property name="javax.persistence.jdbc.user"
                      value="root" />
            <property name="hibernate.hbm2ddl.auto"
                      value="update" />
        </properties>
    </persistence-unit>
</persistence>