<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.udea.compumovil.ahorcatooth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="14"
        android:minSdkVersion="14"
        android:targetSdkVersion="14" >
    </uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="co.edu.udea.compumovil.ahorcatooth" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" >
        </uses-library>

        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.category.CategoryDashboardActivity"
            android:label="@string/category_dashboard_activity_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.bluetooth.devices.BluetoothDevicesListActivity"
            android:label="@string/bluetooth_devices_list_activity_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".activity.bluetooth.BluetoothMultiplayerActivity"
            android:label="@string/bluetooth_multiplayer_activity_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.game.HangmanBoardActivity"
            android:label="@string/application_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.game.resume.HangmanBoardResumeActivity"
            android:label="@string/application_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.preference.WebServicePreferenceActivity"
            android:label="@string/web_service_preference_activity_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.aboutus.AboutActivity"
            android:label="@string/menu_action_about_us_text"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>